/* jamesgwyer.com/assets/styles.css */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');



/* main stuff like screen settings */

@media (prefers-color-scheme: light) {
  :root {
    --background-color: white;
	  --foreground-color: black;
	  --link-color: rebeccapurple;
    --code-snippet-bg: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
	  --background-color: black;
	  --foreground-color: white;
	  --link-color: #99cc66;
    --code-snippet-bg: #111;
  }
}

* {
  scrollbar-color: var(--code-snippet-bg) var(--background-color);
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family:'Inter', sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  line-height: 1.5;
}

/* page layouts */

.content {
  max-width: 666px;
  margin: 0 auto;
  padding: 2rem 2rem;
}

.content-left {
  max-width: 444px;
  padding: 2rem 2rem;
}

.wide {
  margin: 0 auto;
  padding: 2rem 2rem;
}

header {
  margin-bottom: 2rem;
}

footer {
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 2rem 2rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 222px;
  justify-content: center;
  gap: 1rem 1rem;
}

.container-item {
  padding: 1rem 1rem;
  background-color: var(--code-snippet-bg);
  border-radius: 0.5rem;
  flex: 1 0 150px;
}

/* text and links */

.subtitle {
  opacity: 0.5; font-weight: 300;
}

.name {
  font-weight: 500;
}

p { margin: 1rem 0; font-weight: 300; }

a { font-weight: 400; color: var(--foreground-color); text-decoration: none; }
a:hover { text-decoration: underline; color: var(--link-color); }

a.menu { color: var(--foreground-color); text-decoration: underline; }
a.menu:hover { color: var(--foreground-color); text-decoration: none; }
a.bold { color: var(--foreground-color); text-decoration: none; }
a.bold:hover { color: var(--foreground-color); text-decoration: underline; }
a.icon { text-decoration: none; color: gray; }
a.icon:hover { text-decoration: none; color: var(--foreground-color); }

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
  width: 40px;
  color: var(--foreground-color);
  font-weight: 400;
}

.underline:hover { text-decoration: none; }

.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: -3px;
  background: var(--link-color);
  height: 1.5px;
  transition-property: left right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  right: 0;
}

/* other stuff */

li { margin: 0.4rem 0; }
li::marker { color: var(--code-snippet-bg); }

hr {
  text-align: center;
  border: 0;
  margin: 2rem 0;
  font-weight: 500;

  &:before { content: '♡ ' }
  &:after { content: attr(data-content) ' ♡' }
  /* aw cute
  and in case i forget:
  <hr data-content="TEXT HERE" />
  */
}

table { width: 100%; }

table, th, td {
  border: 1.5px solid var(--code-snippet-bg);
  border-collapse: collapse;
  padding: 0.4rem;
}

details { margin: 0.5rem 0; }
summary { font-weight: 500; }

pre code {
  background-color: var(--code-snippet-bg);
  display: block;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 0.5rem;
}

blockquote {
  font-style: italic;
  border: 1.5px solid var(--code-snippet-bg);
  padding: 1rem;
}

img {
  max-width: 100%;
  display: float; /* used to be "block", hope this doesn't break everything x */
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* link tree page */

.links {
  max-width: 333px;
  margin: 0 auto;
  padding: 4rem 2rem;
  text-align: center;
}

.link-button {
  border: 1.5px solid;
  border-color: var(--code-snippet-bg);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.link-button:hover {
  background-color: var(--code-snippet-bg);
}

/* login page stuff (like on archive) */

input {
  background-color: var(--code-snippet-bg);
  border: none;
}

button {
  background-color: var(--code-snippet-bg);
  color: var(--foreground-color);
  border: none;
}

/* things for other sites and other stuff that i don't know where to put (aka overflow section) */

