@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

/* jamesgwyer.com (https://github.com/jamesgwyer/.com) */

@media (prefers-color-scheme: light) {
    :root {
        --bg-colour: white;
        --fg-colour: black;
        --link-colour: rebeccapurple;
        --code-bg: #eee;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: black;
        --fg-colour: white;
        --link-colour: #99cc66;
        --code-bg: #111;
    }
}

* { scrollbar-color: var(--code-bg) var(--bg-colour); }

body {
    color: var(--fg-colour);
    background-color: var(--bg-colour);
    font-family:'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
    line-height: 1.5;
}
  
header {
    margin-bottom: 2rem;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

main {
    padding: 2rem 2rem;
}

main.content {
    max-width: 666px;
    margin: 0 auto;
}

main.content-left {
    max-width: 333px;
    padding-right: 0;
    padding-bottom: 0;
}

main.links {
    max-width: 333px;
    margin: 0 auto;
    padding: 4rem 0;
    text-align: center;
}

main.login {
    max-width: 444px;
    margin: 0 auto;
    text-align: center;
}

p { margin-bottom: 1rem; font-weight: 300; }

li { margin: 0.4rem 0; }
li::marker { color: var(--code-bg); }

a { font-weight: 400; color: var(--link-colour); text-decoration: none; }
a:hover { text-decoration: underline; }

a.menu { color: var(--fg-colour); text-decoration: underline; }
a.menu:hover { color: var(--fg-colour); text-decoration: none; }
a.bold { color: var(--fg-colour); text-decoration: none; }
a.bold:hover { color: var(--fg-colour); text-decoration: underline; }
a.icon { color: var(--fg-colour); opacity: 0.5; }
a.icon:hover { text-decoration: none; opacity: 1; }

a.underline {
    display: inline;
    position: relative;
    overflow: hidden;
    width: 40px;
    color: var(--fg-colour);
    font-weight: 400;
}

a.underline:hover { text-decoration: none; }

a.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -3px;
    background: var(--link-colour);
    height: 1.5px;
    transition-property: left right;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

a.underline:hover:after,
a.underline:focus:after,
a.underline:active:after {
    right: 0;
}

.subtitle {
    opacity: 0.5; font-weight: 300;
}
  
.name {
    font-weight: 500;
}

input {
    background-color: var(--code-bg);
    border: none;
}
  
button {
    background-color: var(--code-bg);
    color: var(--fg-colour);
    border: none;
}

.link-button {
    border: 1.5px solid;
    border-color: var(--code-bg);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}
  
.link-button:hover {
    background-color: var(--code-bg);
}